<!DOCTYPE html>
<html>
<head>
    <title>Color Guesser</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/slider.css">
</head>
<body>
<div id="app">
    <div class="container">
        <div class="colorContainer">
            <div>
                <h1 class="text-center">Color</h1>
                <div class="colorView" v-bind:style="{ backgroundColor : randomColor }"></div>
                <p class="text-center">{{getRandomColorString}}</p>
            </div>
            <div>
                <h1 class="text-center">Your Guess</h1>
                <div class="colorView" v-bind:style="{ backgroundColor : getGuessColor }"></div>
                <p class="text-center">R: {{guess.red}} G: {{guess.green}} B: {{guess.blue}}</p>
            </div>
        </div>
        <hr>
        <div>
            <div id="gameControls" v-if="isPlayingGame">
                <button type="button" 
                    class="success button centerHorz" 
                    @click="submitGuess">
                        Submit Guess
                </button>
                <br>
                <p class="text-center">Red</p> <input id="redSlider" type="range" min="0" max="255" value="128" v-model="guess.red" class="redSlider">
                <p class="text-center">Green</p> <input id="greenSlider" type="range" min="0" max="255" value="128" v-model="guess.green" class="greenSlider">
                <p class="text-center">Blue</p> <input id="blueSlider" type="range" min="0" max="255" value="128" v-model="guess.blue" class="blueSlider">
            </div>
            <div id="gameResults" v-if="!isPlayingGame">
                <button type="button" class="success button centerHorz" @click="playAgain">
                    Play Again!
                </button>
                <p>Nice Guess, you were off by {{gameScore}}</p>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>

<script src="app.js"></script>